#a1{
    /* transition: 0.2s ease-in ; */
}
#a1:hover{
    transform: translate(0px,-3px);
    box-shadow: 2px 2px 20px rgb(95, 94, 97);
}
.card1:hover{
    transform: translate(0px, -3px);
    box-shadow: 2px 2px 20px rgb(95, 94, 97);
}
.card2:hover{
    transform: translate(0px, -3px);
    box-shadow: 2px 2px 20px rgb(95, 94, 97);
}.card3:hover{
    transform: translate(0px, -3px);
    box-shadow: 2px 2px 20px rgb(95, 94, 97);
}
span{
    color: rgb(173, 120, 179);
}
.h1{
    font-size: xx-large;
}
@media(max-width:800px){
    .h1{
        font-size: medium;
        align-self: auto;
        padding-top: 30%;
    }
}  
.h2{
    font-size: x-large;
}
@media(max-width:800px){
    .h2{
        font-size: medium;
        align-self: auto;
    }
.p1{
    font-size: larger;
}
@media(max-width:800px){
    .p1{
        font-size: small;
        color: yellow;
        align-self: auto;
        padding-bottom: 10px;
    }
}
@media(max-width:600px){
    .b1{
        align-self: auto;
    }
}
@media(max-width:800px){
    .i2{
        height: 50%;
    }

}